body{
  
  min-height: 100vh;
  font-family: 'Source Sans Pro', Sans-serif;
  color:white;
  background-color: #2A2A2B;
  font-weight: 100;
}

a, a:visited {
  color: white;
  font-size: 2.5rem;
}

.navbar {
    margin-bottom: 0;
    background-color: #337AB7;
    border: 2px solid #337AB7;
  }

.jumbotron {
   background-color: #61605e;
   border: 2px solid #8BA6BD;
}

.container {
 text-align: center;
}

.container h2 {
   opacity: 0.5;
   font-size: 2.5rem;
}

.container img {
  border: 8px solid #8BA6BD;
  max-width: 180px;
  border-radius: 50%;
}

.container-fluid{
  width: 80%;
  background-color: #61605e;
  padding: 0 0 20px;
}

.page-navigation, .page-information {
  margin-top:15px; 
}

.page-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-information {
  font-size: 2rem;
  padding-right: 25px;
  padding-left: 25px;
  text-align: justify;
}

.page-information h3 { 
  color: #8BA6BD;
  font-size: 4rem;
}

.page-information h4 {
   color: #8BA6BD;
   font-size: 2.5rem;
}


.page-navigation button {
   /*background-color:white;*/
   width: 100px;
}

.page-navigation ul{
   margin-top: 10px;
   margin-bottom: 20px;
}

.page-navigation li {
   margin-bottom: 15px;
}

.education {
  display: none;
}

.contact {
  display: none;
}

.skills {
  display: none;
}

.work {
  display: none;
}